@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* .gradient-01 {
  position: absolute;
  width: 304px;
  height: 400px;
  left: 40%;
  top: 0%;
  z-index: -50;

  background: rgba(87, 147, 226, 0.75);
  filter: blur(150px);
  transform: rotate(-53.13deg);
} */
/* .gradient-02 {
  position: absolute;
  width: 204px;
  height: 400px;
  left: 30%;
  top: 0%;
  z-index: -50;

  background: rgba(238, 125, 241, 0.75);
  filter: blur(150px);
  transform: rotate(53.13deg);
} */
.gradient-03 {
  position: absolute;
  width: 160px;
  height: 950px;
  left: 45%;
  top: 5%;
  z-index: -50;

  background: #ff8c20b7;
  filter: blur(30px);
  transform: rotate(90deg);
}
.gradient-02 {
  position: absolute;
  width: 204px;
  height: 950px;
  left: 40%;
  top: 53%;
  z-index: -50;

  background: #4caff1;
  filter: blur(30px);
  transform: rotate(90deg);
}
.gradient-01 {
  position: absolute;
  width: 304px;
  height: 900px;
  left: 34%;
  top: 28%;
  z-index: -50;

  background: #f8b248;
  filter: blur(30px);
  transform: rotate(-53.13deg);
}
.gradient-04 {
  position: absolute;
  width: 404px;
  height: 950px;
  left: 32%;
  top: 75%;
  z-index: -50;

  background: #48a3f8;
  filter: blur(30px);
  transform: rotate(90deg);
}
